{
    "remoteUser": "magento",
    "workspaceFolder": "/magento-app/site",
    "extensions": [
        "bmewburn.vscode-intelephense-client",
        "DavidAnson.vscode-markdownlint",
        "DEVSENSE.composer-php-vscode",
        "DEVSENSE.phptools-vscode",
        "DEVSENSE.profiler-php-vscode",
        "EditorConfig.EditorConfig",
        "guodongsun.vscode-git-cruise",
        "mechatroner.rainbow-csv",
        "natqe.reload",
        "redhat.vscode-xml",
        "viperet.vscode-magento-wizard"
    ],
    "settings": {
		"php.hover.fullname": true,
		"php.problems.exclude": {
			"generated/": true,
			"vendor/": true
		},
		"php.problems.excludeGitIgnore": true,
		"[php]": {
			"editor.defaultFormatter": "DEVSENSE.phptools-vscode"
		},
		"intelephense.environment.phpVersion": "8.1.0",
		"redhat.telemetry.enabled": false,
		"xml.codeLens.enabled": true,
		"xml.format.emptyElements": "collapse",
		"xml.format.maxLineWidth": 0
	}
}