{
    "remoteUser": "magento",
    "workspaceFolder": "/magento-app/site",
    "extensions": [
		"bmewburn.vscode-intelephense-client",
		"DavidAnson.vscode-markdownlint",
		"dbaeumer.vscode-eslint",
		"DEVSENSE.composer-php-vscode",
		"DEVSENSE.phptools-vscode",
		"DEVSENSE.profiler-php-vscode",
		"dweber019.vscode-style-formatter",
		"EditorConfig.EditorConfig",
		"mechatroner.rainbow-csv",
		"mhutchie.git-graph",
		"ms-vsliveshare.vsliveshare",
		"natqe.reload",
		"redhat.vscode-xml",
		"shevaua.phpcs",
		"stylelint.vscode-stylelint",
		"viperet.vscode-magento-wizard"
	],
    "settings": {
        "intelephense.environment.phpVersion": "8.1.0",
        "php.hover.fullname": true,
        "php.problems.exclude": {
            "app/": true,
            "generated/": true,
            "vendor/": true
        },
        "php.problems.excludeGitIgnore": true,
        "redhat.telemetry.enabled": false,
        "sfmt.insize": 4,
        "xml.codeLens.enabled": true,
        "xml.format.emptyElements": "collapse",
        "xml.format.maxLineWidth": 0,
        "[less]": {
            "editor.defaultFormatter": "dweber019.vscode-style-formatter"
        },
        "[php]": {
            "editor.defaultFormatter": "DEVSENSE.phptools-vscode"
        },
    }
}