{
    "remoteUser": "magento",
    "workspaceFolder": "/magento-app/site",
    "extensions": [
		"DavidAnson.vscode-markdownlint",
		"DEVSENSE.composer-php-vscode",
		"DEVSENSE.phptools-vscode",
		"DEVSENSE.profiler-php-vscode",
		"EditorConfig.EditorConfig",
		"mechatroner.rainbow-csv",
		"mhutchie.git-graph",
		"natqe.reload",
		"redhat.vscode-xml",
		"viperet.vscode-magento-wizard"
	],
    "settings": {
		"php.hover.fullname": true,
		"php.problems.exclude": {
			"generated/": true,
			"vendor/": true
		},
		"php.problems.excludeGitIgnore": true,
		"redhat.telemetry.enabled": false,
		"xml.codeLens.enabled": true,
		"xml.format.emptyElements": "collapse",
		"xml.format.maxLineWidth": 0
	}
}